$xs: "(max-width: 575px)";
$sm: "(min-width: 576px) and (max-width: 767px)";
$md: "(min-width: 768px) and (max-width: 991px)";
$lg: "(min-width: 992px) and (max-width: 1199px)";
$xl: "(min-width: 1200px)";

@media #{$xs} {
	.slick-initialized {
		margin:0 -35px;
		padding:0 20px;

		.slick-list {
			margin: 0 35px;
		}

		.slick-arrow {
			height:106px;
			width: 30px;
			top: 80px;

			&.slick-prev {
				left:22px;
			}
			&.slick-next {
				right:22px;
				background-position: -30px;
			}
		}
	}
	section#header {

		.jumbotron {
			height: 310px;
			h1 {
				font-size: 32px;
				padding:0 15px;
			}
		}

		.my-navbar {
			border-width: 0 0 1px;
			position: fixed;
			right: 0;
			left: 0;
			height:91px;
			line-height:91px;

			.open-responsive-menu {
				height: 91px;
				.fa {
					line-height: 91px;
					font-size:45px;
				}
			}

			.logo {
				line-height: 91px;

				img {
					width:110px;
					margin-top: 15px;
				}
			}

			.participe {
				margin-right: 10px;
				line-height: 1em;
				padding: 0;
				margin-top: 30px;

				button {
					width: 120px;
					height:34px;
					line-height: 22px;
					font-family: $font_din-alternate;
					font-size: 12px;
					margin: 0px;
				}
			}
		}
	}

	section#projetos {
		margin-top: 0 !important;

		.project-tabs {
			height:59px;

			.tab {
				width:calc(33% - 5px);
				background-size: cover;
				height:59px;
				margin:1px;

				a {
					font-size: 12px;
					padding: 0;
				}

			}
		}
		.content-holder .row {
			text-align: center;
			padding-top: 20px;
			img {
				display: none;
			}

			.text-holder {
				margin-bottom: 0;

				button {
					position: static;
					bottom: auto;
					margin-top: 10px;
				}
			}
		}
	}

	section#participe {
		padding-top: 40px;
		header h3.general-title {
			font-size: 41px !important;
		}
		.service-br-flag {
			background-size: cover;
			width: 300px;
			height: 157px;
			bottom: -25px;
		}

		.row.textos .eu-quero {
			display: inline-block;
			text-align: center;
			margin-bottom: 20px;
		}

		.row.botoes {
			display: none;
		}
	}

	section#blog {
	    padding: 35px 0 0 0;

			.post {
				&:hover {
					.post-entry {
						display: none;
					}
				}
			}
	}

	section#parceiro {
		header {
			h3 {
				font-size: 27px !important;
				margin-bottom: 20px;
			}
			p {
				margin-bottom: 20px;
			}
		}
	}

	body#home {
		section#header .jumbotron {
			padding-top: 125px;
		}

		section#projetos {
			padding-top: 30px;
		}
	}

	body#participe {
		height: 450px;
		.precisamos ul {
			margin: 0px;
			padding: 0px;
		}

		.precisamos li {
			overflow: hidden;
		}

		.precisamos li h4, .precisamos li p {
			width: 100%;
			display: block;
			margin: 0;
			padding: 0;
			text-align: center;
		}

		.precisamos li h4:after {
			display:none;
		}

		.buscamos h3 {
			font: 40px/50px "din-regular" !important;
			text-align:left;
			margin-top: 50px;
		}

		.buscamos .seja-embaixador {
			overflow: hidden;
			font-size: 12px;
			float: left;
		}

		.buscamos {
			.row a {
				display:block;
				position: relative;
				float: left;
				margin: 0 auto;
				left: calc(100% / 4);
			}
			.wp-video {
				overflow: hidden;
				float: left;
				margin: 20px 0;
				width:100%;

				iframe {
					width: 100%;
				}
			}

			h4 {
				float: left;
			}

			ul.social {
				padding-left: 3px;

				li {
					margin-top: 7px;
				}
			}
		}

		.quer-doar {
			.items {
				padding:0;
				margin-left: -40px;
			}
		}

		.buscamos .social {
			overflow: hidden;
		}


		.voluntarios .seja-voluntario {

			margin: 0px;
			padding: 0 20px;
		}

		.general-title {
			font-size: 35px !important;
			margin-top: 20px;
		}
	}

	body#biblioteca {
		h3 {
			padding: 40px 0 0;
		}

		section.search form {
			input, button {
				margin:16px 2px;
			}
			input {
				width: calc(100% - 140px);
				padding-left:10px;
			}

			button {
				width: 115px;
				font-size: 15px;
			}
		}
	}

	body#faq {
		section#header .jumbotron h1 {
			font-size: 50px;
			line-height: 50px;
		}

		header {
			.general-title {
				font-size: 27px !important;
			}
			p {
				line-height: 1em;
			}
		}

		.search {
			input, button {
				margin: 15px 2px;
			}

			input {
				padding-left: 10px;
				width: calc(100% - 140px);
			}

			button {
				width: 115px;
				font-size: 15px;
			}
		}

		.pergunta {
			h4 {
				font: 25px/1.2em $font_din-black;
				padding: 15px;
			}

			span {
				padding: 0px !important;
			}

			.resposta {
				font-size: 16px;
				padding: 30px 15px 20px;
			}
		}
	}

	body#projetos {
		.chamada {
			.container {
				padding: 30px 0 20px;

				h3 {
					margin-bottom: 20px;
				}
			}
		}
	}

	body#blog {
		section#side {
			display: none;
		}

			section#last-news ul.filters {overflow: hidden;}
	    section#last-news ul.filters li {
	    	float:left;
	    	width: 50%;

	    	padding-left: 5px;

	    	&:first-of-type {
		    	padding-left: 0;
		    	padding-right: 5px;
	    	}

	    	button {
	    		width: 100%;
	    		font-size: 18px;
	    		margin-bottom: 20px;
	    	}
	    }
	}

	body#blog-interna {
		.featured-img {
			height: 200px;
			margin-top: 108px;
		}
	}

	footer#contato {
		.footer-title, .imprensa, .menu-principal-container {
			display: none;
		}

		.title-social {
			display:block;
			text-align: center !important;
		}

		p {
			text-align: center;
		}

		.contact-us-social li {
			width:19%;
			text-align: center;

			a {
				margin: 0px !important;
			}
		}

		.form {
			height:270px;overflow: hidden;
		}

		.form-title {
			display:block;
		}

		.last-line span {
			display:block;
			width: 100%;
			text-align: center;
			font-size: 12px;
		}

		ul.menu li {
			display: inline-block;
			font-size: 10px;
		}

		.line-logo {
			margin-top: 15px !important;
			.logo {
				display: block;
				margin: 0 auto;
				width:100%;
				text-align: center !important;
			}
		}
	}

	body#o-instituto {
		.porque-somos-diferentes {
			h2 {
				font-size: 30px;
				margin: 35px 0 20px;
			}
			p {
				padding-left: 15px;
				padding-right: 15px;
			}

			.wp-caption {
				width: 100%;
				padding: 0 15px;

				iframe {
					width:100%;
				}
			}
		}

		.fundadores-associados {
			padding: 20px 0 20px;
			ul {
				padding: 0 10px;
				font-size: 12px;

				li {
					margin-bottom: 10px;
				}
			}
		}
		.diretoria-e-conselho-estrategico {
			h2 {
				font-size: 30px;
			}

			ul {
				padding: 0;

				li {
					height: auto;

					&.right {
						text-align: left;
					}

					.img-circle {
						float: none;
					}
				}
			}

			.legend {
				margin: 0;
				padding: 0;

				li {
					width: calc(50% - 15px);
					margin: 0 5px 30px;

					&:before {
						height: 40px;
						width: 40px;
					}
				}
			}
		}
		.obrigado {
			.row  {
				h2 {
					padding-left:10px;
					padding-right:10px;
					font-size:41px;
					line-height: 1.2em;
					margin-top:0;
				}

				&>h2 {
					font-size:32px;
					margin-top:80px;
				}

				ul {
					padding: 0 10px;
					font-size: 12px;

					li {
						margin-bottom: 10px;
					}
				}
			}
		}

		.transparencia {
			h2 {
				font-size: 55px;
			}

			p {
				line-height: 1.2em;
				font-size: 20px;
				padding: 15px;
			}
			.bootstrap-select {
				margin: 0 0 20px;
			}
		}

		.duvidas {

			height: 400px;

			h2 {
				font-size: 50px;
				letter-spacing: 5px;
			}
		}
	}

	ul[class^='slick'] {
		width:100%;
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
}

@media #{$sm} {
	p {
		font-size: 18px;
	}
}
