$xs: "(max-width: 575px)";
$sm: "(min-width: 576px) and (max-width: 767px)";
$md: "(min-width: 768px) and (max-width: 991px)";
$lg: "(min-width: 992px) and (max-width: 1199px)";
$xl: "(min-width: 1200px)";

@media #{$xs} {
	.slick-initialized {
		margin:0 -35px;
		padding:0 20px;

		.slick-list {
			margin: 0 35px;
		}

		.slick-arrow {
			height:106px;
			width: 30px;
			top: 80px;

			&.slick-prev {
				left:22px;
			}
			&.slick-next {
				right:22px;
				background-position: -30px;
			}
		}
	}
	section#header {
		.jumbotron {
			h1 {
				font-size: 32px;
				padding:0 15px;
			}
		}

		.my-navbar {
			border-width: 0 0 1px;
			position: fixed;
			right: 0;
			left: 0;
			height:91px;
			line-height:91px;

			.open-responsive-menu {
				height: 91px;
				.fa {
					line-height: 91px;
					font-size:45px;
				}
			}

			.logo {
				line-height: 91px;

				img {
					width:110px;
					margin-top: 15px;
				}
			}

			.participe {
				margin-right: 10px;
				line-height: 1em;
				padding: 0;
				margin-top: 30px;

				button {
					width: 120px;
					height:34px;
					line-height: 22px;
					font-family: $font_din-alternate;
					font-size: 12px;
					margin: 0px;
				}
			}
		}
	}

	section#projetos {
		margin-top: 0 !important;

		.project-tabs {
			height:59px;

			.tab {
				width:calc(33% - 5px);
				background-size: cover;
				height:59px;
				margin:1px;

				a {
					font-size: 12px;
					padding: 0;
				}

			}
		}
		.content-holder .row {
			text-align: center;
			padding-top: 20px;
			img {
				display: none;
			}

			.text-holder {
				margin-bottom: 0;

				button {
					position: static;
					bottom: auto;
					margin-top: 10px;
				}
			}
		}
	}

	section#participe {
		padding-top: 40px;
		header h3.general-title {
			font-size: 41px !important;
		}
		.service-br-flag {
			background-size: cover;
			width: 300px;
			height: 157px;
			bottom: -25px;
		}
	}

	section#blog {
	    padding: 35px 0 0 0;
	}

	section#parceiro {
		header {
			h3 {
				font-size: 27px !important;
				margin-bottom: 20px;
			}
			p {
				margin-bottom: 20px;
			}
		}
	}



	body#participe {
		.precisamos ul {margin: 0px; padding: 0px;}
		.precisamos li {overflow: hidden;}
		.precisamos li h4, .precisamos li p {width: 100%; display: block; margin: 0; padding: 0; text-align: center;}
		.precisamos li h4:after {
			display:none;
		}

		.buscamos h3 {font: 40px/50px "din-regular" !important; text-align:left; margin-top: 50px;}
		.buscamos .seja-embaixador {overflow: hidden; font-size: 12px; float: left;}
		.buscamos .row a {display:block; position: relative; float: left; margin: 0 auto; left: calc(100% / 4);}
		.buscamos h4 {float: left}
		.buscamos .wp-video {overflow: hidden; float: left; margin: 20px 0;}

		.buscamos .social {overflow: hidden;}

		.voluntarios .seja-voluntario {
			margin: 0px; padding: 0 20px;
		}
	}

	footer {
		.footer-title, .imprensa, .menu-principal-container {display: none;}
		.title-social {display:block; text-align: center !important;}

		p {text-align: center;}

		.contact-us-social li {display: inline-block; width:19%; text-align: center;}
		.contact-us-social li a {margin: 0px !important;}

		.form {height:270px;overflow: hidden;}
		.form-title {display:block;}

		.last-line span {display:block; width: 100%; text-align: center; font-size: 12px;}

		ul.menu li {display: inline-block; font-size: 10px;}

		.line-logo {margin-top: 15px !important;}

		.line-logo .logo {display: block; margin: 0 auto; width:100%; text-align: center !important;}
	}
}

@media #{$sm} {
	p {
		font-size: 18px;
	}
}
